/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #171717;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header-start */
form {
    position: relative;
    width: 450px;
    margin: 0 auto;
    margin-top: 132px;
}

input {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
    background: #979797;
    color: #535353;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 45px;
    border: none;
    background: #3d3d3d;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:before {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 16px;
    color: #f9f0da;
}

/* header-end */

/* main-start */

/* section ONE - common */
li {
    list-style-type: none;
}

h1 {
    color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 35px 0;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #121212;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #363636;
    opacity: 65%;
}

.common-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.common-card-item {
    min-width: 300px;
    height: 200px;
    background-color: #fdf4f4aa;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
}

.card-header {
    position: absolute;
    left: 100px;
    top: 25px;
}

.card-description {
    position: absolute;
    left: 100px;
    top: 55px;
}

.card-text {
    position: absolute;
    left: 100px;
    top: 80px;
    color: #121212;
    font-size: 12px;
    max-width: 150px;
}

.card-header a:hover {
    color: #f1f1f1;
}

#first-card {
    background-image: url('img/US.svg');
}

#second-card {
    background-image: url('img/zabbix.svg');
}

#third-card {
    background-image: url('img/mor\ x14.svg');
}
.card-background {
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 20px 20px;
}

/* section ONE end */

/* section TWO start */
.et-item {
    background-color: #855BE2;
}
.et-text {
    color: #f1f1f1;
}

#fourth-card {
    background-image: url('img/pauseAgents.svg');
}
#fifth-card {
    background-image: url('img/asterix.svg');
}
#sixth-card {
    background-image: url('img/tms.svg');
}
#seventh-card {
    background-image: url('img/tvip.svg');
}
#eighth-card {
    background-image: url('img/dre\ crypt.svg');
}
#sixth-card {
    background-image: url('img/tms.svg');
}
/* section TWO end */

/* section THREE start */

.ah-item {
    background-color: #e3d35a;
}
.ah-text {

}
#ninth-card {
    background-image: url('img/mainCC.svg');
}
#tenth-card {
    background-image: url('img/queuemetrix.svg');
}
#eleventh-card {
    background-image: url('img/netup.svg');
}
#twelfth-card {
    background-image: url('img/graylog.svg');
}
#thirteenth-card {
    background-image: url('img/wiki.svg');
}
/* section THREE end */
/* main-end */


/* Toggle-arrow 
  .common {
    position: relative;
  }
  
  .common-block__head {
    display: flex;
    align-items: center;
  }
  
  .arrow {
    position: absolute;
    left: 112px;
    top: 46px;
    cursor: pointer;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    transition: 0.2s linear;
  }
    
  .arrow:hover {
    border-color: #1a60a2;
  }
  
  .arrow-toggle {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .common-cards {
    display: flex;
  }
  
  .common input[type='checkbox']:checked + .arrow-toggle {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .common input[type='checkbox']:checked ~ .arrow-toggle ~ .common-cards {
    display: none;
    color: rgb(248, 245, 245);
  }
  Мой CSS END */